# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/

# --- TAURI & RUST SPECIFIC ---
# Dossier de compilation Rust (très lourd !)
target/
src-tauri/target/

# Fichiers de verrouillage de dépendances (optionnel, mais évite la lecture inutile)
Cargo.lock

# Fichiers temporaires générés par Tauri v2
.tauri/
src-tauri/.tauri/
